In [ ]:
import google.generativeai as genai
import pandas as pd
import time

# Set API key directly
genai.configure(api_key="API_KEY")

In [ ]:
#  Call Gemini API for Text-to-SQL generation
def get_sql_query_from_gemini(natural_language_input, attempt=1):
    model = genai.GenerativeModel("gemini-1.5-flash")

    # Detailed prompt for generating SQL
    prompt = f"""
    Translate the following natural language query to an optimized and correct SQL query. Ensure the SQL handles any necessary joins, filtering conditions, sorting, or aggregations correctly.

    Natural Language Query: {natural_language_input}
    """

    # Generate  SQL query using the Gemini API
    response = model.generate_content(prompt)

    # Extract SQL query from the response text (removing explanations)
    try:
        sql_query = response.text.split('```sql')[1].split('```')[0].strip()
    except IndexError:
        if attempt <= 3:
            print(f"Retrying SQL generation for query: {natural_language_input} (Attempt {attempt})")
            return get_sql_query_from_gemini(natural_language_input, attempt + 1)
        else:
            sql_query = "Failed to generate SQL"

    return sql_query

In [ ]:
#  Evaluate generated SQL using Gemini
def evaluate_generated_sql_gemini(natural_language_query, generated_sql):
    model = genai.GenerativeModel("gemini-1.5-flash")

    # Prepare the evaluation prompt with instructions for feedback
    prompt = f"""
    Here is the natural language query: "{natural_language_query}"
    Here is the generated SQL query: "{generated_sql}"
    Is this SQL query:
    - Fully correct
    - Partially correct (with minor syntactical differences)
    - Structurally correct (correct structure but missing minor components)
    - Incorrect (completely wrong or produces incorrect results)
    If incorrect or partially correct, suggest improvements.
    """

    #  Evaluation response from the Gemini model
    response = model.generate_content(prompt)
    evaluation = response.text.strip()

    # Assign scores based on the evaluation response
    if 'fully correct' in evaluation.lower():
        return 1.0, evaluation
    elif 'partially correct' in evaluation.lower():
        return 0.8, evaluation
    elif 'structurally correct' in evaluation.lower():
        return 0.5, evaluation
    else:
        return 0.0, evaluation

In [ ]:
#  Generate and evaluate multiple queries
def generate_and_evaluate_queries(test_queries, delay=10):
    generated_queries = []
    evaluation_scores = []
    evaluation_feedback = []

    for idx, row in test_queries.iterrows():
        natural_language_query = row['Natural Language Query']

        # Generate SQL query using the Gemini API
        generated_sql = get_sql_query_from_gemini(natural_language_query)
        generated_queries.append(generated_sql)

        # Evaluate the generated SQL query
        score, feedback = evaluate_generated_sql_gemini(natural_language_query, generated_sql)
        evaluation_scores.append(score)
        evaluation_feedback.append(feedback)

        print(f"Query {idx + 1}: {natural_language_query}")
        print(f"Generated SQL: {generated_sql}")
        print(f"Score: {score * 100}%\n")

        # Add a delay between requests to avoid quota exhaustion
        time.sleep(delay)

    test_queries['Generated_SQL'] = generated_queries
    test_queries['Evaluation_Score'] = evaluation_scores
    test_queries['Evaluation_Feedback'] = evaluation_feedback

    return test_queries

In [ ]:
# Load  test queries
test_queries = pd.read_excel(r"E:\Astuto_Assignment\Pagila Evals Dataset.xlsx")

# Generate and evaluate  queries with  delay between requests
test_queries_with_results = generate_and_evaluate_queries(test_queries, delay=10)

# Save  results to an Excel file
test_queries_with_results.to_excel(r"E:\Astuto_Assignment\Pagila_Evals_Dataset_Results.xlsx", index=False)
print(f"Results saved to Excel file.")

Query 1: List all actors' first and last names.
Generated SQL: SELECT first_name, last_name
FROM actors;
Score: 100.0%

Query 2: Show the titles of all films in the database.
Generated SQL: SELECT title
FROM films;
Score: 100.0%

Query 3: Get the names of all cities.
Generated SQL: SELECT CityName
FROM Cities;
Score: 100.0%

Query 4: List all categories available for films.
Generated SQL: SELECT DISTINCT category
FROM films;
Score: 80.0%

Query 5: Show the first name and last name of all customers.
Generated SQL: SELECT FirstName, LastName
FROM Customers;
Score: 100.0%

Query 6: Show all films released in 2006.
Generated SQL: SELECT *
FROM films
WHERE release_year = 2006;
Score: 100.0%

Query 7: Find all actors with the last name "Smith."
Generated SQL: SELECT *
FROM actors
WHERE last_name = 'Smith';
Score: 100.0%

Query 8: List all customers who are from the city of “New York.”
Generated SQL: SELECT *
FROM Customers
WHERE City = 'New York';
Score: 100.0%

Query 9: Get all stores located in the country “India.”
Generated SQL: SELECT *
FROM Stores
WHERE country = 'India';
Score: 100.0%

Query 10: Show all films with a rental rate greater than $2.99.
Generated SQL: SELECT *
FROM film
WHERE rental_rate > 2.99;
Score: 100.0%

Query 11: How many films are there in each category?
Generated SQL: SELECT c.name, COUNT(f.film_id) AS film_count
FROM category c
JOIN film_category fc ON c.category_id = fc.category_id
JOIN film f ON fc.film_id = f.film_id
GROUP BY c.name
ORDER BY c.name;
Score: 100.0%

Query 12: What is the total number of actors?
Generated SQL: SELECT COUNT(DISTINCT actor_id) AS total_actors
FROM actors;
Score: 100.0%

Query 13: Get the total payment received in June 2022.
Generated SQL: SELECT SUM(payment_amount) AS total_payment
FROM payments
WHERE DATE_PART('month', payment_date) = 6 AND DATE_PART('year', payment_date) = 2022;
Score: 80.0%

Query 14: Find the total number of rentals made last month.
Generated SQL: SELECT COUNT(*) AS total_rentals
FROM rentals
WHERE rental_date >= DATE_TRUNC('month', CURRENT_DATE) - INTERVAL '1 month'
  AND rental_date < DATE_TRUNC('month', CURRENT_DATE);
Score: 80.0%

Query 15: How many films have a rating of “PG-13”?
Generated SQL: SELECT COUNT(*) AS "Number of PG-13 Films"
FROM films
WHERE rating = 'PG-13';
Score: 100.0%

Query 16: List all films along with their category names.
Generated SQL: SELECT
    f.film_id,
    f.title AS film_title,
    c.name AS category_name
FROM
    film f
JOIN
    film_category fc ON f.film_id = fc.film_id
JOIN
    category c ON fc.category_id = c.category_id
ORDER BY
    f.title;
Score: 100.0%

Query 17: Show all actors who appeared in the film "Inception."
Generated SQL: SELECT DISTINCT A.actor_name
FROM Actors AS A
JOIN Movie_Cast AS MC ON A.actor_id = MC.actor_id
JOIN Movies AS M ON MC.movie_id = M.movie_id
WHERE M.movie_title = "Inception";
Score: 100.0%

Query 18: Get a list of all customers and the films they have rented.
Generated SQL: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    f.film_id,
    f.title
FROM
    customer c
JOIN
    rental r ON c.customer_id = r.customer_id
JOIN
    inventory i ON r.inventory_id = i.inventory_id
JOIN
    film f ON i.film_id = f.film_id
ORDER BY
    c.customer_id,
    f.film_id;
Score: 100.0%

Query 19: List all staff members along with the stores they work at.
Generated SQL: SELECT
    s.staff_name,
    st.store_name
FROM
    staff s
JOIN
    staff_store ss ON s.staff_id = ss.staff_id
JOIN
    store st ON ss.store_id = st.store_id;
Score: 100.0%

Query 20: Find all films rented by customer "John Doe."
Generated SQL: SELECT f.title AS film_title
FROM film AS f
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
JOIN customer AS c ON r.customer_id = c.customer_id
WHERE c.first_name = 'JOHN' AND c.last_name = 'DOE';
Score: 80.0%

Query 21: Show the top 5 films rented the most across all stores.
Generated SQL: SELECT f.title, COUNT(*) AS rental_count
FROM film f
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
GROUP BY f.title
ORDER BY rental_count DESC
LIMIT 5;
Score: 100.0%

Query 22: List all customers who have rented films in both store 1 and store 2.
Generated SQL: SELECT DISTINCT c.customer_id, c.first_name, c.last_name
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN store s ON i.store_id = s.store_id
WHERE s.store_id IN (1, 2)
GROUP BY c.customer_id, c.first_name, c.last_name
HAVING COUNT(DISTINCT s.store_id) = 2;
Score: 80.0%

Query 23: Find all actors who have appeared in more than 10 films.
Generated SQL: SELECT A.actor_name
FROM Actors AS A
JOIN Movies AS M ON A.actor_id = M.actor_id
GROUP BY A.actor_name
HAVING COUNT(DISTINCT M.movie_id) > 10;
Score: 100.0%

Query 24: Get a list of customers who have made more than 5 payments.
Generated SQL: SELECT DISTINCT c.customer_id, c.customer_name
FROM Customers c
JOIN Payments p ON c.customer_id = p.customer_id
GROUP BY c.customer_id, c.customer_name
HAVING COUNT(DISTINCT p.payment_id) > 5;
Score: 80.0%

Query 25: List all films that are in both the "Action" and "Comedy" categories.
Generated SQL: SELECT f.title
FROM films f
JOIN film_category fc ON f.film_id = fc.film_id
JOIN categories c ON fc.category_id = c.category_id
WHERE c.name IN ('Action', 'Comedy')
GROUP BY f.film_id
HAVING COUNT(DISTINCT c.name) = 2;
Score: 80.0%

Query 26: Show all rentals made in the last 7 days.
Generated SQL: SELECT *
FROM rentals
WHERE rental_date >= DATE('now', '-7 days');
Score: 80.0%

Query 27: Get all payments made in February 2022.
Generated SQL: SELECT *
FROM Payments
WHERE DATE_PART('month', payment_date) = 2
AND DATE_PART('year', payment_date) = 2022;
Score: 80.0%

Query 28: List all films that have not been rented in the last 30 days.
Generated SQL: SELECT f.film_id, f.title
FROM film f
LEFT JOIN inventory i ON f.film_id = i.film_id
LEFT JOIN rental r ON i.inventory_id = r.inventory_id
WHERE r.rental_date < DATE_SUB(CURDATE(), INTERVAL 30 DAY) OR r.rental_date IS NULL
GROUP BY f.film_id, f.title
ORDER BY f.title;
Score: 0.0%

Query 29: Find all customers who registered in the last 6 months.
Generated SQL: SELECT *
FROM customers
WHERE registered_at >= DATE_SUB(CURDATE(), INTERVAL 6 MONTH);
Score: 80.0%

Query 30: Show all staff members hired before January 1, 2020.
Generated SQL: SELECT *
FROM Staff
WHERE HireDate < '2020-01-01';
Score: 100.0%

Query 31: List the top 3 customers who have spent the most in each country.
Generated SQL: WITH CustomerRank AS (
  SELECT
    c.customer_id,
    c.country,
    SUM(o.total_amount) AS total_spent,
    RANK() OVER (PARTITION BY c.country ORDER BY SUM(o.total_amount) DESC) AS rank_within_country
  FROM customers c
  JOIN orders o ON c.customer_id = o.customer_id
  GROUP BY
    c.customer_id,
    c.country
)
SELECT
  customer_id,
  country,
  total_spent
FROM CustomerRank
WHERE rank_within_country <= 3
ORDER BY
  country,
  total_spent DESC;
Score: 100.0%

Query 32: Find the films that have been rented more times than the average number of rentals per film.
Generated SQL: SELECT f.title
FROM film AS f
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
GROUP BY f.film_id
HAVING COUNT(*) > (SELECT AVG(rental_count) FROM (SELECT COUNT(*) AS rental_count FROM rental GROUP BY inventory_id) AS rental_counts);
Score: 80.0%

Query 33: For each actor, show their name and the percentage of films they've acted in compared to the total films.
Generated SQL: WITH ActorFilmCount AS (
  SELECT
    actor_id,
    COUNT(*) AS film_count
  FROM film_actor
  GROUP BY
    actor_id
), TotalFilms AS (
  SELECT
    COUNT(*) AS total_films
  FROM film
)
SELECT
  a.first_name || ' ' || a.last_name AS actor_name,
  (CAST(afc.film_count AS REAL) * 100 / tf.total_films) AS percentage_films
FROM actor AS a
JOIN ActorFilmCount AS afc
  ON a.actor_id = afc.actor_id
CROSS JOIN TotalFilms AS tf;
Score: 100.0%

Query 34: Show the average payment amount for each customer.
Generated SQL: SELECT c.customer_id, AVG(p.amount) AS average_payment_amount
FROM customers c
JOIN payments p ON c.customer_id = p.customer_id
GROUP BY c.customer_id;
Score: 100.0%

Query 35: List all actors who have appeared in at least one film in each category.
Generated SQL: SELECT DISTINCT A.actor_name
FROM actors AS A
JOIN movies AS M ON A.actor_id = M.actor_id
JOIN categories AS C ON M.category_id = C.category_id
GROUP BY A.actor_id, A.actor_name
HAVING COUNT(DISTINCT C.category_id) = (SELECT COUNT(*) FROM categories);
Score: 80.0%

Query 36: Find customers who have rented more films this year than last year.
Generated SQL: WITH CustomerRentalsThisYear AS (
    SELECT
        customer_id,
        COUNT(*) AS rentals_this_year
    FROM rentals
    WHERE DATE_PART('year', rental_date) = DATE_PART('year', CURRENT_DATE)
    GROUP BY customer_id
), CustomerRentalsLastYear AS (
    SELECT
        customer_id,
        COUNT(*) AS rentals_last_year
    FROM rentals
    WHERE DATE_PART('year', rental_date) = DATE_PART('year', CURRENT_DATE) - 1
    GROUP BY customer_id
)
SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    rentals_this_year,
    rentals_last_year
FROM customers c
JOIN CustomerRentalsThisYear cty ON c.customer_id = cty.customer_id
JOIN CustomerRentalsLastYear cly ON c.customer_id = cly.customer_id
WHERE rentals_this_year > rentals_last_year;
Score: 80.0%

Query 37: List the top 5 films with the highest revenue.
Generated SQL: SELECT title, revenue
FROM films
ORDER BY revenue DESC
LIMIT 5;
Score: 100.0%

Query 38: For each customer, show the number of films rented in the last month compared to the previous month.
Generated SQL: WITH MonthlyRentals AS (
  SELECT
    customer_id,
    DATE_TRUNC('month', rental_date) AS rental_month,
    COUNT(*) AS rental_count
  FROM rentals
  GROUP BY 1, 2
)
SELECT
  c.customer_id,
  c.first_name,
  c.last_name,
  COALESCE(current_month.rental_count, 0) AS current_month_rentals,
  COALESCE(previous_month.rental_count, 0) AS previous_month_rentals
FROM customers c
LEFT JOIN MonthlyRentals current_month ON c.customer_id = current_month.customer_id
  AND current_month.rental_month = DATE_TRUNC('month', CURRENT_DATE)
LEFT JOIN MonthlyRentals previous_month ON c.customer_id = previous_month.customer_id
  AND previous_month.rental_month = DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month')
ORDER BY c.customer_id;
Score: 80.0%

Query 39: Show the names of customers who have rented every film in the “Action” category.
Generated SQL: SELECT DISTINCT c.customer_name
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category cat ON fc.category_id = cat.category_id
WHERE cat.name = 'Action'
GROUP BY c.customer_id
HAVING COUNT(DISTINCT f.film_id) = (SELECT COUNT(*) FROM film WHERE film_id IN (SELECT film_id FROM film_category WHERE category_id = (SELECT category_id FROM category WHERE name = 'Action')));
Score: 80.0%

Query 40: List customers who have rented the same film more than 3 times.
Generated SQL: SELECT c.customer_id, c.first_name, c.last_name
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
GROUP BY c.customer_id, c.first_name, c.last_name, f.film_id
HAVING COUNT(*) > 3;
Score: 80.0%

Results saved to Excel file.